/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background:  #1a2833;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0
}


/*
  ========================================
  Rows
  ========================================
*/

.row {
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #06C2F4, #FF8642);
    background: -moz-linear-gradient(to right, #06C2F4, #FF8642);
    background: linear-gradient(to right, #06C2F4, #FF8642);
    padding: 44px 0 22px 0;
}


/*
  ========================================
  Rows
  ========================================
*/

#chart_div {
    position: absolute;
    left: 3px;
    right: 3px;
    top: 240px;
    bottom: 3px;
    width: calc(100% - 6px)%;
    height: calc(100% - 243px)%;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
    color: #fff;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

h1 {
    font-size: 50px;
    font-variant: small-caps;
    letter-spacing: 5px
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}


/*
  ========================================
  Links
  ========================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-header a, .primary-footer a {
    color: #fff;
}

.primary-header a:hover, .primary-footer a:hover {
    color: #648880;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 5px;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 8px 20px;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero p {
    font-size: 20px;
    font-weight: 100;
}

.display-off {
    display: none;
}
